<script>
    function initMap() {
      var lat =  <%= show_camp.lat %>;
      var lng = <%= show_camp.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%= show_camp.name %><br />
        <%= show_camp.location %></strong>
        <p><%= show_camp.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVCfY9dtYUZgntn_d3rfpm_8SbMNs58is&callback=initMap"></script>