 <!-- this linked to campground/show -->
 
 <!-- Campground Likes Modal POP UP -->
 <div id="campgroundLikes" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="campgroundLikes">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Total likes: <%= show_camp.likes.length %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- table -->
                <table class="table table-striped">
                    <thead>
                        <tr class="table-success">
                            <th>Liked by:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% show_camp.likes.forEach(function(like) { %>
                        <tr>
                            <td><span class="badge"><i class="fa fa-user"></i></span> <%= like.username %></td>
                        </tr>
                        <% }); %>
                        <% if (show_camp.likes.length === 0) { %>
                        <tr>
                            <td><em>No likes yet.</em></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <!-- table end -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Campground REVIEWS Modal POP UP -->
<div id="campgroundReview" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="campgroundReview">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Review: <%= show_camp.name %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- table -->
                <table class="table">

                    <tbody>
                        <% show_camp.reviews.forEach(function(review) { %>

                        <tr class="table-success">
                            <td>Review By : <span class="badge"><i class="fa fa-user"></i> <strong>
                                        <%= review.author.username %> </strong> </span>
                            </td>
                            <td class="float-right">
                                <span><em><%= moment(review.updatedAt).fromNow() %></em></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Rating :
                                <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"> <%= review.text %></td>
                        </tr>
                        <tr>
                            <td>
                                <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-sm btn-warning"
                                    href="/campground/<%=show_camp._id %>/reviews/<%=review._id %>/edit">Edit</a>
                                <form id="delete-button"
                                    action="/campground/<%=show_camp._id %>/reviews/<%=review._id %>?_method=DELETE"
                                    method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                </form>
                                <% } %>
                            </td>
                        </tr>
                        <% }); %>
                        <% if (show_camp.reviews.length === 0) { %>
                        <tr>
                            <td><em>No Reviews yet.</em></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <!-- table end -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/campground/<%= show_camp._id %>/reviews/new"" class=" btn btn-success"> Add new Review</a>

            </div>
        </div>
    </div>
</div>