<%- include ('../partials/header')  %>


<div class="container container-form">

            <h1 class="text-center">
                Edit User Profile
            </h1>




            <form class=" validated-form" action="/users/<%= user._id %>?_method=PUT " novalidate method="POST">

                <div class="form-group">
                    <label for="Username">Username </label>
                    <input class="form-control" type="text" name="editUser[username]" value="<%= user.username %>"
                        required disabled>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="editUser[email]" value="<%= user.email %>" required>
                </div>

                <div class="form-group">
                    <label for="avatar">Avatar</label>
                    <input class="form-control" type="text" name="editUser[avatar]" value="<%= user.avatar %>" required>
                </div>

                <button class="btn btn-lg btn-pink btn-block">Submit</button>
                <a href="/kost">Go Back</a>

            </form>

    </div>








<%- include ('../partials/footer')  %>