<%- include ('../partials/header')  %>


<div class="container">
    <div id="info" class="text-center mt-5">
        <h1>Edit <em><%= edit_ejs.name %> </em></h1>
    </div>

    <form action="/campground/<%= edit_ejs._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="mt-5">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" value="<%= edit_ejs.name %>">
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="number" min="1" step="1" name="price" value="<%= edit_ejs.price %>">
        </div>

        <div class="image-preview-deleted">
            <label for="image">Image</label>
            <div class="wrapper">

                <div class="preview">
                    <% edit_ejs.image.forEach((img,i) => {%>


                    <div class="delete">
                        <span class="close">
                            <i class="fas fa-window-close" onclick="test(this)">
                                <input type="hidden" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                            </i>
                        </span>
                        <img class="responsive-img" src="<%=  img.url %>">
                    </div>

                    <% })%>


                </div>
            </div>
        </div>

        <div class="custom-file-container mt-5" data-upload-id="myUniqueUploadId">
            <label>Upload File <a href="javascript:void(0)" class="custom-file-container__image-clear"
                    title="Clear Image">&times;</a></label>
            <label class="custom-file-container__custom-file">
                <input type="file" id="image" name="image" class="custom-file-container__custom-file__custom-file-input"
                    multiple>
                <span class="custom-file-container__custom-file__custom-file-control"></span>
            </label>
            <div class="custom-file-container__image-preview"></div>
        </div>


        <div class="form-group">
            <label for="Location">Location</label>

            <input class="form-control" type="text" name="location" id="location" value="<%= edit_ejs.location %>">
        </div>

        <div class="form-group">
            <label for="Description<">Description</label>

            <input class="form-control" type="text" name="description" value="<%= edit_ejs.description %>">
        </div>

        <button class="btn btn-lg btn-primary btn-block">Submit</button>
        <a href="/campground">Go Back</a>
    </form>
    <button onclick="test()"> </button>
</div>

<!-- file-upload-with-preview -->
<script src="https://unpkg.com/file-upload-with-preview@4.0.2/dist/file-upload-with-preview.min.js"></script>

<script>
    var upload = new FileUploadWithPreview('myUniqueUploadId')

    function test (x) {
        const pathname = window.location.pathname; //campground/14124124
        const id = pathname.split('/')[2]; //124124214
        const input = x.querySelector('input').value
        const imageId = input.split('/')[1]
        const url = `/campground/${id}/KostKita/${imageId}`

    axios({
            method: 'post',
            url: url,
            //use form encoded not aplication/json
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
        .then(res => {
            console.log(res)
            console.log('succeed')
        });
    }

   
</script>

<%- include ('../partials/footer')  %>