<%- include ('../partials/header')  %>


    <div class="container edit">
    <div id="info" class="text-center mt-5">
        <h1>Edit <em><%= edit_ejs.name %> </em></h1>
    </div>

    <div class="image-preview-deleted">
        <label for="image">Image Delete Choose</label>
        <div class="wrapper">
            <div class="preview text-center">
                <!-- *if user not upload image, display no image -->
                <% if(edit_ejs.image) { %>
                <% edit_ejs.image.forEach((img,i) => {%>
                <div class="delete">
                    <span class="close">
                        <i class="far fa-trash-alt" onclick="hapus(this)" style="color: red;">
                            <input type="hidden" value="<%=img.filename%>">
                        </i>
                    </span>
                    <img class="responsive-img" src="<%=  img.url %>">
                </div>
                <% })%>
                <% }%>

            </div>
        </div>
    </div>


    <form action="/campground/<%= edit_ejs._id %>?_method=PUT"  class="mt-5 validated-form" novalidate method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" value="<%= edit_ejs.name %>" required>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="number" min="1" step="1" name="price" value="<%= edit_ejs.price %>" required>
        </div>

   
        <div class="custom-file-container mt-5" data-upload-id="myUniqueUploadId">
            <label>Upload File <a href="javascript:void(0)" class="custom-file-container__image-clear"
                    title="Clear Image">&times;</a></label>
            <label class="custom-file-container__custom-file">
                <input type="file" id="image" name="image" class="custom-file-container__custom-file__custom-file-input"
                    multiple>
                <span class="custom-file-container__custom-file__custom-file-control"></span>
            </label>
            <div class="custom-file-container__image-preview"></div>
        </div>


        <div class="form-group">
            <label for="Location">Location</label>

            <input class="form-control" type="text" name="location" id="location" value="<%= edit_ejs.location %>" required>
        </div>

        <div class="form-group">
            <label for="Description<">Description</label>

            <input class="form-control" type="text" name="description" value="<%= edit_ejs.description %>" required>
        </div>

        <button class="btn btn-lg btn-pink btn-block">Submit</button>
        <a href="/campground">Go Back</a>
    </form>
</div>


<!-- *file-upload-with-preview -->
<script src="https://unpkg.com/file-upload-with-preview@4.0.2/dist/file-upload-with-preview.min.js"></script>
<script src="/js/fileupload.js"></script>


<%- include ('../partials/footer')  %>