<%- include ('../partials/header')  %>



<div class="jumbotron jumbotron-fluid ">
	<div class="container">
		<h1 class="head text-center">KostKita Menyediakan fasilitas Kost Yang Lengkap dan Murah</h1>
		<hr class="my-3">
		<% if(currentUser || currentUser && currentUser.isAdmin) { %>

		<p class="lead text-center">
			<a class="btn btn-pink btn-lg" href="/campground/new" role="button">Entry New Kost</a>
		</p>
	<% } %> 
	</div>
</div>

<div class="container">
	<div class="row text-center">
		<% all_Campgrounds.forEach(function(campground) { %>
		<div class="col-lg-3">
			<div class="card">
				<!-- ** if user not upload photo, photo using img default -->
				<% if(campground.image == 0){%> 
					<img class="card-img-top" src="/img/default.png" alt="Card image cap">
					<% } else if(campground.image.length > 0) { %>
						<img class="card-img-top" src="<%= campground.image[0].url %>" alt="Card image cap">
					<% } %>
				<div class="card-body">
					<h5 class="card-title"><strong><%= campground.name %>.</strong></h5>
					<div>
						<span > <i class="fa fa-thumbs-up"> </i> <%= campground.likes.length %> </span>
					</div>
					<% if (campground.rating === 0) { %>
						<em>No reviews yet.</em>
						<% } else { %>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
						<span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
						<span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
						<span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
						<% } %>
						<br>
						<br>
					<a href="/campground/<%= campground._id %>" class="btn btn-pink">Description</a>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
</div>


<%- include ('../partials/footer')  %>


